* {
    box-sizing: border-box;
    
}


#container-todo {
  background-color: aquamarine;
  margin: auto; 
  max-width: 300px;
  height: 125px;
  padding: 10px;
 
  margin-bottom: 5px;
}

#content {
  width: 315px;
  margin: auto;
  margin-left: -15px;
}

.header {
    text-align: center;
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }

  .addBtn{
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0;
    position: relative;
  }

  .addBtn:hover{
    background: #edeef0;
  }


  li {
    text-align: start;
    position: relative;
    padding-left: 0.4em;
    padding-top: 0.5em;
  }

  ul {
    list-style-type: none;
    font-size: 18px;
    user-select: none;
    cursor: pointer; 
  }

  /* grey colour on all odd number task*/
  ul li:nth-child(odd){
    background: #ddd;
    height: 40px;
  }

  li::before {
    position: absolute;
    left: -1.5em;
    font: var(--fa-font-regular);
    content: "\f111";

  }

 
  li.checked {
    color: #555;
    text-decoration: line-through;
  }

  li.checked::before {

    font: var(--fa-font-solid);
    content: "\f00c";
  }

  /* style the close x button*/

 ul li span {
  position: absolute;
  right: 0;
  top: 0.5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
 }

 ul li span:hover {
   background: #edeef0;
 }

  @media screen and (min-width: 768px) {

    #container-todo {
      max-width: 900px;
      margin: auto;
      
   }

   #content {
     width: 920px;
     margin: auto;
     margin-left:480px; 
   }

  

  }